{% extends 'base.html' %}

{% block title %} Flask CRUD {% endblock %}


{% block body %}

<div class="jumbotron p-3">
    <div class="well text-center">
        <h1>CRUD</h1>
    </div>
</div>

{% endblock %}