{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="jumbotron p-3">

            <h2>Manage <b>Employees</b> <button type="button" class="btn btn-success float-end" data-toggle="modal"
                    data-target="#addModal">Add new employee</button></h2>

            
            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>

                {{message}}
            </div>
                
            
            {% endfor %}
            {% endif %}
            {% endwith %}
            <table class="table table-hover table-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                {% for row in employees %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.phone}}</td>
                    <td>{{row.role}}</td>
                    <td>
                        <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editModal{{row.id}}">Edit</a>
                        <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Are you sure to delete?')">Delete</a>
                    </td>
                </tr>
                            <!-- Modal -->
            <div id="editModal{{row.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Employee</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('update')}}" method="POST">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="hidden" name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" id="editname" name="name" value="{{row.name}}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="email" class="form-control" id="editemail" name="email" value="{{row.email}}">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="number" class="form-control" id="editphone" name="phone" value="{{row.phone}}">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role ID:</label>
                                    <input type="number" class="form-control" id="editrole" name="role" value="{{row.id}}">
                                </div>
                                
                                <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}
            </table>

            <!-- Modal -->
            <div id="addModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Employee</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="addname" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="email" class="form-control" id="addemail" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="number" class="form-control" id="addnumber" name="phone">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <input type="number" class="form-control" id="addrole" name="role">
                                </div>
                                
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>
{% endblock %}